:root {
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --text-xl: 2rem;
  --text-m: 0.875rem;
  --text-s: 0.8125rem;
  --text-xs: 0.75rem;
  --spacing-40: 2.5rem;
  --spacing-32: 2rem;
  --spacing-24: 1.5rem;
  --spacing-16: 1rem;
  --spacing-8: 0.5rem;
  --spacing-4: 0.25rem;
  --serif: "Fraunces", Times, serif;
  --sans-serif: "Montserrat";
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 0;
}

body {
  background-color: var(--cream);
}

main {
  margin: 5rem 0.75rem;
  width: 93%;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.product-img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.product-listing {
  padding: var(--spacing-32);
  display: flex;
  flex-direction: column;
}

footer,
footer a {
  text-align: center;
  font-size: var(--text-xs);
  color: var(--grey);
  text-decoration: none;
}

footer a:hover {
  color: var(--green-500);
  text-decoration: underline;
}
